{
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "import/extensions": [".js"]
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 13
  }
}
